---
title: Bio Submission and Approval
layout: page
bio_year: "2018"
permalink: /bio-check/
is_bio_check: true
norobots: true
regenerate: true
---

{% capture submit_bio_email_link %}mailto:{{ site.maintainer_email }}?subject={{ site.data.bio_check_emails.submit_subject | uri_escape }}&body={{ site.data.bio_check_emails.submit_body | uri_escape }}{% endcapture %}

<h2>Bio Submission</h2>
<p>
  {% assign last_year = page.bio_year | minus: 1 %}
  Use the button below to submit your headshot and bio to us via email. Instructions are provided inside the email when you click the button. Please have a look at <a href="{{ site.baseurl}}/who/{{ last_year }}">last year's bios</a> if you'd like some examples.
</p>

<p>
  Some poeple are having trouble with the buttons. If they don't work for you, <a href="{{site.baseurl}}/bio-check-no-email/">follow these instructions</a>.
</p>

<a class="button" href="{{ submit_bio_email_link }}">Submit Bio via Email</a>

<h2>Bio Approval</h2>

<p>
  Please email us using the buttons below to approve your bio or to request changes. Changes can be made to the website bios at any time, however the actual printed program has a deadline (which I do not yet know for this year).
</p>

<p>
  Some poeple are having trouble with the buttons. If they don't work for you, <a href="{{site.baseurl}}/bio-check-no-email/">follow these instructions</a>.
</p>

<div class="bios-page">
{% assign people = site.data.people[page.bio_year] %}
{% for person in people %}
  {% unless person.groups contains "board" or person.groups contains "additional" %}
    {% include bio.html %}
  {% endunless %}
{% endfor %}

</div>

