---
title: 2019 Calendar
permalink: /calendar/
layout: page
group: main
order: 3
---


<style>
  .page-content{
    width: 100%;
    max-width: 1200px;
  }

  .page-content p {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
</style>

<p>There are a couple special events this year to note. The first is an event that we are planning in Crawford. Details will be released at a later date.</p>

<p>Second, there are three TBA performances this year. As we approach those performances we will change them from TBA to one of our 5 shows. It will all depend on demand. Maybe all three will become performances of Mary Poppins, or maybe two will be Little Shop and one will be The Music Man. We shall see!</p>

<p>You are allowed to purchase the TBA performances any time you like. Even before we have announced which shows will be performing then. Don't care which show you see in our season? Roll the dice and purchase tickets for one of those performances now!</p>

{% include calendar.html %}
