---
layout: default
regenerate: true
---

<div class="home">

  <div class="featured-stories">

    {% assign stickies = site.posts | where:"sticky","true" %}
    {% if stickies.size != 0 %}
      {% for sticky_post in stickies %}
        <div class="full {{sticky_post.css_class}} sticky-feature">
          {% if sticky_post.excerpt_image %}
            <div class="sticky-feature-image"><img src="{{sticky_post.excerpt_image}}" /></div>
          {% endif %}
          <article class="post-content">
            <h2>
              {% if sticky_post.excerpt != sticky_post.content %}
                <a href="{{ sticky_post.url | prepend: site.baseurl }}">
                  {{ sticky_post.title }}
                </a>
              {% else %}
                  {{ sticky_post.title }}
              {% endif %}
            </h2>
            {% if sticky_post.excerpt != sticky_post.content %}
              <p>{{ sticky_post.excerpt }}</p>
              <p class="sticky-read-more">
                <a href="{{ sticky_post.url | prepend: site.baseurl }}">Read more...</a>
              </p>
            {% else %}
              {{ sticky_post.content }}
            {% endif %}
          </article>
        </div>
      {% endfor %}
    {% endif %}

    {% assign posts = site.posts | where:"single_featured","true" %}
    {% assign post = posts[0] %}
    {% if post != nil %}
      <div class="full {{post.css_class}} single-feature">
        {% if post.excerpt != post.content %}
          <h2 style="font-weight: bold; font-family: azo-sans-uber">
            <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h2>
        {% else %}
          <h2 style="font-weight: bold; font-family: azo-sans-uber">
            {{ post.title }}
          </h2>
        {% endif %}
        <article class="post-content">
          {% if post.excerpt != post.content %}
            {{ post.excerpt }}
            <p><a href="{{ post.url | prepend: site.baseurl }}">Read more...</a></p>
          {% else %}
            {{ post.content }}
          {% endif %}
        </article>
      </div>
    {% endif %}

    {% include opening-annoucements.html %}

    {% assign posts = site.posts | where:"featured","true" %}
    {% if posts.size != 0 %}
      {% for post in posts %}
        <div class="full {{post.css_class}} regular-feature">
          {% if post.excerpt != post.content %}
            <h2 style="font-weight: bold; font-family: azo-sans-uber">
              <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </h2>
          {% else %}
            <h2 style="font-weight: bold; font-family: azo-sans-uber">
              {{ post.title }}
            </h2>
          {% endif %}
          <article class="post-content">
            {% if post.excerpt != post.content %}
              {{ post.excerpt }}
              <p><a href="{{ post.url | prepend: site.baseurl }}">Read more...</a></p>
            {% else %}
              {{ post.content }}
            {% endif %}
          </article>
        </div>
      {% endfor %}
    {% endif %}

  </div>



  <div class="engagement-box">
    <div class="donations">
      <a href="{{ site.baseurl }}/donate/"><img src="{{ site.baseurl }}/images/perennials/donations.jpg" alt="Your donations make all the difference!"></a>
    </div>

    <div class="connection">
      <a href="http://eepurl.com/7iIeH" name="mailer" class="a-wrap mail">
        <h3 class="post-link">Join our mailing list</h3>
        <p>Stay informed about what's happening at Post Playhouse. </p>
      </a>

      <div class="stay-connected">
        <h3>Stay connected with Post</h3>
        <a href="http://facebook.com/post.playhouse"><img src="{{ site.baseurl }}/images/facebook-logo.svg" alt=""></a>
        <a href="http://twitter.com/postplayhouse"><img src="{{ site.baseurl }}/images/twitter-bird.svg" alt=""></a>
        <p></p>
      </div>
    </div>
  </div>

  <div id="mailer"> <div class="modal">
    <a class="close">close</a><a class="close">close</a>
    {% include mailing-list.html %}
  </div> </div>



  <div class="non-featured-stories">
    {% for post in site.posts limit:0 offset:1 %}
      <a class="a-wrap recent" href="{{ post.url | prepend: site.baseurl }}">
        <h3 class="post-link">
          {{ post.title }}
        </h3>
        {% if post.image %}
          <img class="preview" src="{{ post.image | prepend: site.baseurl }}">
        {% endif %}
        <p>{{ post.excerpt | strip_html | markdownify }}</p>
      </a>
    {% endfor %}
  </div>



  <div class="featured-pictures">
    <div class="picture">
      <img src="{{ site.baseurl }}/images/2016/bright-side-of-life.jpg" alt="">
      <div class="caption">Tommy Wallace and Michael O'Connor in 2016's <em>Spamalot</em></div>
    </div>
    <div class="picture">
      <img src="{{ site.baseurl }}/images/2015/all-shook-up-garage.jpg" alt="">
      <div class="caption">Don Denton and Jennifer Poarch in 2015's <em>All Shook Up</em></div>
    </div>
    <div class="picture">
      <img src="{{ site.baseurl }}/images/2014/guys-and-dolls-don-paige.jpg" alt="">
      <div class="caption">Paige Salter and Don Denton in 2014's <em>Guys &amp; Dolls</em></div>
    </div>
    <div class="picture">
      <img src="{{ site.baseurl }}/images/2014/sound-of-music-maria-children.jpg" alt="">
      <div class="caption">Samantha Matthews as Maria with the Von Trapp children in 2014's <em>The Sound of Music</em></div>
    </div>
    <div class="picture">
      <img src="{{ site.baseurl }}/images/2013/drowsy-chaperone-show-off.jpg" alt="">
      <div class="caption"><em>The Drowsy Chaperone</em> from our 2013 season</div>
    </div>
    <div class="picture">
      <img src="{{ site.baseurl }}/images/2010/spelling-bee-stephen-randy.jpg" alt="">
      <div class="caption">Stephen Anthony and Randy Dierkes in 2010's <em>The 25th Annual Putnam County Spelling Bee</em></div>
    </div>
  </div>
</div>
