---
title: Plan Your Visit
permalink: /plan-your-visit/
group: main
layout: page
order: 8
excerpt: "There are so many things to do nearby, we thought we'd share some of our favorites with you to help plan your visit to see the shows!"
---

<h2>Nearby Activities, Attractions, Food, and Lodging</h2>

<p>Any businesses marked &ldquo;Playhouse Supporter&rdquo; have donated $500 or more in cash or in-kind donations to Post Playhouse within the last year.</p>

<p>
  If you&rsquo;d like to see your business listed here, please contact us at <a href="mailto:webmaster@postplayhouse.com">webmaster@postplayhouse.com</a>. If you'd like to donate to the playhouse, visit our <a href="{{ site.baseurl }}/donate/">donations page</a>.
</p>

<div class="business-cards">
  {% for item in site.data.businesses %}
    {% capture typeCss %}{% for type in item.type %} type-{{type | slugify}}{% endfor%}{% endcapture %}
    
    <div class="business{% if item.supporter %} supporter{% endif %}{{typeCss}}">

      <div class="business-nameplate">
        {% if item.site %}
          <a class="name-site" href="{{ item.site }}">
            <span class="name">{{ item.name }}</span>
            {% if item.prettyURL %}
              <span class="site" style="max-width: 100%">{{ item.prettyURL }}</span>
            {% else %}     
              <span class="site" style="max-width: 100%">{{ item.site }}</span>
            {% endif %}
          </a>
        {% else %} 
          <span class="name">{{ item.name }}</span> 
        {% endif %}
      </div>

      <ul class="type">
        {% for type in item.type %}<li>{{type}}</li>{% endfor %}
      </ul>

      {% if item.phone %}
        <div class="phone">{{ item.phone }}</div>
      {% endif %}
            
      {% if item.address %}
        <div class="address">
          {% if item.address.street %}
            <span class="street">{{item.address.street}}</span>
          {% endif %}
          {% if item.address.city %}
            <span class="city">{{item.address.city}}</span>
          {% endif %}
          {% if item.address.state %}
            <span class="state">{{item.address.state}}</span>
          {% endif %}
          {% if item.address.zip %}
            <span class="zip">{{item.address.zip}}</span>
          {% endif %}
        </div>
      {% endif %}
      
      {% if item.about %}
        <div class="about">{{ item.about | markdownify }}</div>
      {% endif %}

    </div>

  {% endfor %}
</div>

<div>
  <p>Fort Robinson also has lodging and activities:</p>
  <p>
    <a href="{{ site.baseurl }}/documents/Fort-Rob-Accomodations.pdf">Fort Rob Accommodations</a> (PDF)    
  </p>
  <p>
    <a href="{{ site.baseurl }}/documents/Fort-Rob-Activities.pdf">Fort Rob Activities</a> (PDF)    
  </p>
</div>
