<div class="calendar-component-wrapper">
  <div class="proportional-wrapper">
    <div class="outer">
      <div class="inner">
        <div class="calendar">
          <ul class="week">

            <li class="day padding" colspan="5">
              <div class="calendar-filters">
                <div class="filter selected show-1">
                  Disney's Mary Poppins
                </div>
                <div class="filter selected show-2">
                  A Year With Frog &amp; Toad
                </div>
                <div class="filter selected show-3">
                  Little Shop of Horrors
                </div>
                <div class="filter selected show-4">
                  The Music Man
                </div>
                <div class="filter selected show-5">
                  Sister Act
                </div>
                <div class="filter selected show-6">
                  TBA
                </div>
                <div class="filter selected show-7">
                  Songs Around a Piano - A Cabaret at the Old Crawford Firehall
                </div>
              </div>
            </li>

            <li id="ember250" class="day day-31 friday ember-view">
              <div class="day-wrapper">
                <div class="day-identifiers">
                  <span class="day-name">
                    <span class="full">Friday</span>
                    <span class="short">Fri</span>
                  </span>
                  <div class="month-holder">
                    <span class="month-name may">May</span>
                  </div>
                  <span class="mday">31</span>
                </div>
                <ul class="day-content show-count-1">
                  <div class="spacer"></div>
                  <li class="showing
        
        
        evening
        show-1">
                    <span class="show-time">8p</span>
                    <span class="show-title">Mary</span>
                  </li>
                </ul>
              </div>
            </li>
            <li id="ember253" class="day day-1 saturday ember-view">
              <div class="day-wrapper">
                <div class="day-identifiers">
                  <span class="day-name">
                    <span class="full">Saturday</span>
                    <span class="short">Sat</span>
                  </span>
                  <div class="month-holder">
                    <span class="month-name jun">Jun</span>
                  </div>
                  <span class="mday">1</span>
                </div>
                <ul class="day-content show-count-1">
                  <div class="spacer"></div>
                  <li class="showing
        
        
        evening
        show-1">
                    <span class="show-time">8p</span>
                    <span class="show-title">Mary</span>
                  </li>
                </ul>
              </div>
            </li>

          </ul><!-- week -->

          <ul class="week">

            <!---->
            <li id="ember258" class="day day-2 sunday ember-view">
              <div class="day-wrapper">
                <div class="day-identifiers">
                  <span class="day-name">
                    <span class="full">Sunday</span>
                    <span class="short">Sun</span>
                  </span>
                  <div class="month-holder">
                    <span class="month-name jun">Jun</span>
                  </div>
                  <span class="mday">2</span>
                </div>
                <ul class="day-content show-count-1">
                  <!---->
                  <li class="showing
        
        matinee
        
        show-1">
                    <span class="show-time">2p</span>
                    <span class="show-title">Mary</span>
                  </li>
                </ul>
              </div>
            </li>
            <li id="ember261" class="day dark day-3 monday ember-view">
              <div class="day-wrapper">
                <div class="day-identifiers">
                  <span class="day-name">
                    <span class="full">Monday</span>
                    <span class="short">Mon</span>
                  </span>
                  <div class="month-holder">
                    <span class="month-name jun">Jun</span>
                  </div>
                  <span class="mday">3</span>
                </div>
                <ul class="day-content show-count-0">
                  <!---->
                </ul>
              </div>
            </li>
            <li id="ember263" class="day day-4 tuesday ember-view">
              <div class="day-wrapper">
                <div class="day-identifiers">
                  <span class="day-name">
                    <span class="full">Tuesday</span>
                    <span class="short">Tue</span>
                  </span>
                  <div class="month-holder">
                    <span class="month-name jun">Jun</span>
                  </div>
                  <span class="mday">4</span>
                </div>
                <ul class="day-content show-count-1">
                  <div class="spacer"></div>
                  <li class="showing
        
        
        evening
        show-1">
                    <span class="show-time">8p</span>
                    <span class="show-title">Mary</span>
                  </li>
                </ul>
              </div>
            </li>
            <li id="ember266" class="day dark day-5 wednesday ember-view">
              <div class="day-wrapper">
                <div class="day-identifiers">
                  <span class="day-name">
                    <span class="full">Wednesday</span>
                    <span class="short">Wed</span>
                  </span>
                  <div class="month-holder">
                    <span class="month-name jun">Jun</span>
                  </div>
                  <span class="mday">5</span>
                </div>
                <ul class="day-content show-count-0">
                  <!---->
                </ul>
              </div>
            </li>
            <li id="ember268" class="day dark day-6 thursday ember-view">
              <div class="day-wrapper">
                <div class="day-identifiers">
                  <span class="day-name">
                    <span class="full">Thursday</span>
                    <span class="short">Thu</span>
                  </span>
                  <div class="month-holder">
                    <span class="month-name jun">Jun</span>
                  </div>
                  <span class="mday">6</span>
                </div>
                <ul class="day-content show-count-0">
                  <!---->
                </ul>
              </div>
            </li>
            <li id="ember270" class="day day-7 friday ember-view">
              <div class="day-wrapper">
                <div class="day-identifiers">
                  <span class="day-name">
                    <span class="full">Friday</span>
                    <span class="short">Fri</span>
                  </span>
                  <div class="month-holder">
                    <span class="month-name jun">Jun</span>
                  </div>
                  <span class="mday">7</span>
                </div>
                <ul class="day-content show-count-1">
                  <div class="spacer"></div>
                  <li class="showing
        
        
        evening
        show-5">
                    <span class="show-time">8p</span>
                    <span class="show-title">Sister Act</span>
                  </li>
                </ul>
              </div>
            </li>
            <li id="ember273" class="day day-8 saturday ember-view">
              <div class="day-wrapper">
                <div class="day-identifiers">
                  <span class="day-name">
                    <span class="full">Saturday</span>
                    <span class="short">Sat</span>
                  </span>
                  <div class="month-holder">
                    <span class="month-name jun">Jun</span>
                  </div>
                  <span class="mday">8</span>
                </div>
                <ul class="day-content show-count-1">
                  <div class="spacer"></div>
                  <li class="showing
        
        
        evening
        show-5">
                    <span class="show-time">8p</span>
                    <span class="show-title">Sister Act</span>
                  </li>
                </ul>
              </div>
            </li>

          </ul><!-- week -->

          <ul class="week">

            <!---->
            <li id="ember278" class="day day-9 sunday ember-view">
              <div class="day-wrapper">
                <div class="day-identifiers">
                  <span class="day-name">
                    <span class="full">Sunday</span>
                    <span class="short">Sun</span>
                  </span>
                  <div class="month-holder">
                    <span class="month-name jun">Jun</span>
                  </div>
                  <span class="mday">9</span>
                </div>
                <ul class="day-content show-count-1">
                  <!---->
                  <li class="showing
        
        matinee
        
        show-5">
                    <span class="show-time">2p</span>
                    <span class="show-title">Sister Act</span>
                  </li>
                </ul>
              </div>
            </li>
            <li id="ember281" class="day dark day-10 monday ember-view">
              <div class="day-wrapper">
                <div class="day-identifiers">
                  <span class="day-name">
                    <span class="full">Monday</span>
                    <span class="short">Mon</span>
                  </span>
                  <div class="month-holder">
                    <span class="month-name jun">Jun</span>
                  </div>
                  <span class="mday">10</span>
                </div>
                <ul class="day-content show-count-0">
                  <!---->
                </ul>
              </div>
            </li>
            <li id="ember283" class="day day-11 tuesday ember-view">
              <div class="day-wrapper">
                <div class="day-identifiers">
                  <span class="day-name">
                    <span class="full">Tuesday</span>
                    <span class="short">Tue</span>
                  </span>
                  <div class="month-holder">
                    <span class="month-name jun">Jun</span>
                  </div>
                  <span class="mday">11</span>
                </div>
                <ul class="day-content show-count-1">
                  <div class="spacer"></div>
                  <li class="showing
        
        
        evening
        show-1">
                    <span class="show-time">8p</span>
                    <span class="show-title">Mary</span>
                  </li>
                </ul>
              </div>
            </li>
            <li id="ember286" class="day day-12 wednesday ember-view">
              <div class="day-wrapper">
                <div class="day-identifiers">
                  <span class="day-name">
                    <span class="full">Wednesday</span>
                    <span class="short">Wed</span>
                  </span>
                  <div class="month-holder">
                    <span class="month-name jun">Jun</span>
                  </div>
                  <span class="mday">12</span>
                </div>
                <ul class="day-content show-count-1">
                  <div class="spacer"></div>
                  <li class="showing
        
        
        evening
        show-5">
                    <span class="show-time">8p</span>
                    <span class="show-title">Sister Act</span>
                  </li>
                </ul>
              </div>
            </li>
            <li id="ember289" class="day dark day-13 thursday ember-view">
              <div class="day-wrapper">
                <div class="day-identifiers">
                  <span class="day-name">
                    <span class="full">Thursday</span>
                    <span class="short">Thu</span>
                  </span>
                  <div class="month-holder">
                    <span class="month-name jun">Jun</span>
                  </div>
                  <span class="mday">13</span>
                </div>
                <ul class="day-content show-count-0">
                  <!---->
                </ul>
              </div>
            </li>
            <li id="ember291" class="day day-14 friday ember-view">
              <div class="day-wrapper">
                <div class="day-identifiers">
                  <span class="day-name">
                    <span class="full">Friday</span>
                    <span class="short">Fri</span>
                  </span>
                  <div class="month-holder">
                    <span class="month-name jun">Jun</span>
                  </div>
                  <span class="mday">14</span>
                </div>
                <ul class="day-content show-count-1">
                  <div class="spacer"></div>
                  <li class="showing
        
        
        evening
        show-4">
                    <span class="show-time">8p</span>
                    <span class="show-title">Music M</span>
                  </li>
                </ul>
              </div>
            </li>
            <li id="ember294" class="day day-15 saturday ember-view">
              <div class="day-wrapper">
                <div class="day-identifiers">
                  <span class="day-name">
                    <span class="full">Saturday</span>
                    <span class="short">Sat</span>
                  </span>
                  <div class="month-holder">
                    <span class="month-name jun">Jun</span>
                  </div>
                  <span class="mday">15</span>
                </div>
                <ul class="day-content show-count-1">
                  <div class="spacer"></div>
                  <li class="showing
        
        
        evening
        show-4">
                    <span class="show-time">8p</span>
                    <span class="show-title">Music M</span>
                  </li>
                </ul>
              </div>
            </li>

          </ul><!-- week -->

          <ul class="week">

            <!---->
            <li id="ember299" class="day day-16 sunday ember-view">
              <div class="day-wrapper">
                <div class="day-identifiers">
                  <span class="day-name">
                    <span class="full">Sunday</span>
                    <span class="short">Sun</span>
                  </span>
                  <div class="month-holder">
                    <span class="month-name jun">Jun</span>
                  </div>
                  <span class="mday">16</span>
                </div>
                <ul class="day-content show-count-1">
                  <!---->
                  <li class="showing
        
        matinee
        
        show-4">
                    <span class="show-time">2p</span>
                    <span class="show-title">Music M</span>
                  </li>
                </ul>
              </div>
            </li>
            <li id="ember302" class="day dark day-17 monday ember-view">
              <div class="day-wrapper">
                <div class="day-identifiers">
                  <span class="day-name">
                    <span class="full">Monday</span>
                    <span class="short">Mon</span>
                  </span>
                  <div class="month-holder">
                    <span class="month-name jun">Jun</span>
                  </div>
                  <span class="mday">17</span>
                </div>
                <ul class="day-content show-count-0">
                  <!---->
                </ul>
              </div>
            </li>
            <li id="ember304" class="day day-18 tuesday ember-view">
              <div class="day-wrapper">
                <div class="day-identifiers">
                  <span class="day-name">
                    <span class="full">Tuesday</span>
                    <span class="short">Tue</span>
                  </span>
                  <div class="month-holder">
                    <span class="month-name jun">Jun</span>
                  </div>
                  <span class="mday">18</span>
                </div>
                <ul class="day-content show-count-1">
                  <div class="spacer"></div>
                  <li class="showing
        
        
        evening
        show-5">
                    <span class="show-time">8p</span>
                    <span class="show-title">Sister Act</span>
                  </li>
                </ul>
              </div>
            </li>
            <li id="ember307" class="day day-19 wednesday ember-view">
              <div class="day-wrapper">
                <div class="day-identifiers">
                  <span class="day-name">
                    <span class="full">Wednesday</span>
                    <span class="short">Wed</span>
                  </span>
                  <div class="month-holder">
                    <span class="month-name jun">Jun</span>
                  </div>
                  <span class="mday">19</span>
                </div>
                <ul class="day-content show-count-1">
                  <div class="spacer"></div>
                  <li class="showing
        
        
        evening
        show-1">
                    <span class="show-time">8p</span>
                    <span class="show-title">Mary</span>
                  </li>
                </ul>
              </div>
            </li>
            <li id="ember310" class="day day-20 thursday ember-view">
              <div class="day-wrapper">
                <div class="day-identifiers">
                  <span class="day-name">
                    <span class="full">Thursday</span>
                    <span class="short">Thu</span>
                  </span>
                  <div class="month-holder">
                    <span class="month-name jun">Jun</span>
                  </div>
                  <span class="mday">20</span>
                </div>
                <ul class="day-content show-count-1">
                  <div class="spacer"></div>
                  <li class="showing
        
        
        evening
        show-4">
                    <span class="show-time">8p</span>
                    <span class="show-title">Music M</span>
                  </li>
                </ul>
              </div>
            </li>
            <li id="ember313" class="day day-21 friday ember-view">
              <div class="day-wrapper">
                <div class="day-identifiers">
                  <span class="day-name">
                    <span class="full">Friday</span>
                    <span class="short">Fri</span>
                  </span>
                  <div class="month-holder">
                    <span class="month-name jun">Jun</span>
                  </div>
                  <span class="mday">21</span>
                </div>
                <ul class="day-content show-count-1">
                  <div class="spacer"></div>
                  <li class="showing
        
        
        evening
        show-5">
                    <span class="show-time">8p</span>
                    <span class="show-title">Sister Act</span>
                  </li>
                </ul>
              </div>
            </li>
            <li id="ember316" class="day day-22 saturday ember-view">
              <div class="day-wrapper">
                <div class="day-identifiers">
                  <span class="day-name">
                    <span class="full">Saturday</span>
                    <span class="short">Sat</span>
                  </span>
                  <div class="month-holder">
                    <span class="month-name jun">Jun</span>
                  </div>
                  <span class="mday">22</span>
                </div>
                <ul class="day-content show-count-1">
                  <div class="spacer"></div>
                  <li class="showing
        
        
        evening
        show-4">
                    <span class="show-time">8p</span>
                    <span class="show-title">Music M</span>
                  </li>
                </ul>
              </div>
            </li>

          </ul><!-- week -->

          <ul class="week">

            <!---->
            <li id="ember321" class="day day-23 sunday ember-view">
              <div class="day-wrapper">
                <div class="day-identifiers">
                  <span class="day-name">
                    <span class="full">Sunday</span>
                    <span class="short">Sun</span>
                  </span>
                  <div class="month-holder">
                    <span class="month-name jun">Jun</span>
                  </div>
                  <span class="mday">23</span>
                </div>
                <ul class="day-content show-count-1">
                  <!---->
                  <li class="showing
        
        matinee
        
        show-1">
                    <span class="show-time">2p</span>
                    <span class="show-title">Mary</span>
                  </li>
                </ul>
              </div>
            </li>
            <li id="ember324" class="day dark day-24 monday ember-view">
              <div class="day-wrapper">
                <div class="day-identifiers">
                  <span class="day-name">
                    <span class="full">Monday</span>
                    <span class="short">Mon</span>
                  </span>
                  <div class="month-holder">
                    <span class="month-name jun">Jun</span>
                  </div>
                  <span class="mday">24</span>
                </div>
                <ul class="day-content show-count-0">
                  <!---->
                </ul>
              </div>
            </li>
            <li id="ember326" class="day day-25 tuesday ember-view">
              <div class="day-wrapper">
                <div class="day-identifiers">
                  <span class="day-name">
                    <span class="full">Tuesday</span>
                    <span class="short">Tue</span>
                  </span>
                  <div class="month-holder">
                    <span class="month-name jun">Jun</span>
                  </div>
                  <span class="mday">25</span>
                </div>
                <ul class="day-content show-count-1">
                  <div class="spacer"></div>
                  <li class="showing
        
        
        evening
        show-4">
                    <span class="show-time">8p</span>
                    <span class="show-title">Music M</span>
                  </li>
                </ul>
              </div>
            </li>
            <li id="ember329" class="day day-26 wednesday ember-view">
              <div class="day-wrapper">
                <div class="day-identifiers">
                  <span class="day-name">
                    <span class="full">Wednesday</span>
                    <span class="short">Wed</span>
                  </span>
                  <div class="month-holder">
                    <span class="month-name jun">Jun</span>
                  </div>
                  <span class="mday">26</span>
                </div>
                <ul class="day-content show-count-1">
                  <div class="spacer"></div>
                  <li class="showing
        
        
        evening
        show-5">
                    <span class="show-time">8p</span>
                    <span class="show-title">Sister Act</span>
                  </li>
                </ul>
              </div>
            </li>
            <li id="ember332" class="day dark day-27 thursday ember-view">
              <div class="day-wrapper">
                <div class="day-identifiers">
                  <span class="day-name">
                    <span class="full">Thursday</span>
                    <span class="short">Thu</span>
                  </span>
                  <div class="month-holder">
                    <span class="month-name jun">Jun</span>
                  </div>
                  <span class="mday">27</span>
                </div>
                <ul class="day-content show-count-0">
                  <!---->
                </ul>
              </div>
            </li>
            <li id="ember334" class="day day-28 friday ember-view">
              <div class="day-wrapper">
                <div class="day-identifiers">
                  <span class="day-name">
                    <span class="full">Friday</span>
                    <span class="short">Fri</span>
                  </span>
                  <div class="month-holder">
                    <span class="month-name jun">Jun</span>
                  </div>
                  <span class="mday">28</span>
                </div>
                <ul class="day-content show-count-1">
                  <div class="spacer"></div>
                  <li class="showing
        
        
        evening
        show-2">
                    <span class="show-time">8p</span>
                    <span class="show-title">Frog &amp; T</span>
                  </li>
                </ul>
              </div>
            </li>
            <li id="ember337" class="day day-29 saturday ember-view">
              <div class="day-wrapper">
                <div class="day-identifiers">
                  <span class="day-name">
                    <span class="full">Saturday</span>
                    <span class="short">Sat</span>
                  </span>
                  <div class="month-holder">
                    <span class="month-name jun">Jun</span>
                  </div>
                  <span class="mday">29</span>
                </div>
                <ul class="day-content show-count-1">
                  <div class="spacer"></div>
                  <li class="showing
        
        
        evening
        show-2">
                    <span class="show-time">8p</span>
                    <span class="show-title">Frog &amp; T</span>
                  </li>
                </ul>
              </div>
            </li>

          </ul><!-- week -->

          <ul class="week">

            <!---->
            <li id="ember342" class="day day-30 sunday ember-view">
              <div class="day-wrapper">
                <div class="day-identifiers">
                  <span class="day-name">
                    <span class="full">Sunday</span>
                    <span class="short">Sun</span>
                  </span>
                  <div class="month-holder">
                    <span class="month-name jun">Jun</span>
                  </div>
                  <span class="mday">30</span>
                </div>
                <ul class="day-content show-count-1">
                  <!---->
                  <li class="showing
        
        matinee
        
        show-2">
                    <span class="show-time">2p</span>
                    <span class="show-title">Frog &amp; T</span>
                  </li>
                </ul>
              </div>
            </li>
            <li id="ember345" class="day dark day-1 monday ember-view">
              <div class="day-wrapper">
                <div class="day-identifiers">
                  <span class="day-name">
                    <span class="full">Monday</span>
                    <span class="short">Mon</span>
                  </span>
                  <div class="month-holder">
                    <span class="month-name jul">Jul</span>
                  </div>
                  <span class="mday">1</span>
                </div>
                <ul class="day-content show-count-0">
                  <!---->
                </ul>
              </div>
            </li>
            <li id="ember347" class="day day-2 tuesday ember-view">
              <div class="day-wrapper">
                <div class="day-identifiers">
                  <span class="day-name">
                    <span class="full">Tuesday</span>
                    <span class="short">Tue</span>
                  </span>
                  <div class="month-holder">
                    <span class="month-name jul">Jul</span>
                  </div>
                  <span class="mday">2</span>
                </div>
                <ul class="day-content show-count-1">
                  <div class="spacer"></div>
                  <li class="showing
        
        
        evening
        show-4">
                    <span class="show-time">8p</span>
                    <span class="show-title">Music M</span>
                  </li>
                </ul>
              </div>
            </li>
            <li id="ember350" class="day day-3 wednesday ember-view">
              <div class="day-wrapper">
                <div class="day-identifiers">
                  <span class="day-name">
                    <span class="full">Wednesday</span>
                    <span class="short">Wed</span>
                  </span>
                  <div class="month-holder">
                    <span class="month-name jul">Jul</span>
                  </div>
                  <span class="mday">3</span>
                </div>
                <ul class="day-content show-count-1">
                  <div class="spacer"></div>
                  <li class="showing
        
        
        evening
        show-1">
                    <span class="show-time">8p</span>
                    <span class="show-title">Mary</span>
                  </li>
                </ul>
              </div>
            </li>
            <li id="ember353" class="day dark day-4 thursday ember-view">
              <div class="day-wrapper">
                <div class="day-identifiers">
                  <span class="day-name">
                    <span class="full">Thursday</span>
                    <span class="short">Thu</span>
                  </span>
                  <div class="month-holder">
                    <span class="month-name jul">Jul</span>
                  </div>
                  <span class="mday">4</span>
                </div>
                <ul class="day-content show-count-0">
                  <!---->
                </ul>
              </div>
            </li>
            <li id="ember355" class="day day-5 friday ember-view">
              <div class="day-wrapper">
                <div class="day-identifiers">
                  <span class="day-name">
                    <span class="full">Friday</span>
                    <span class="short">Fri</span>
                  </span>
                  <div class="month-holder">
                    <span class="month-name jul">Jul</span>
                  </div>
                  <span class="mday">5</span>
                </div>
                <ul class="day-content show-count-1">
                  <div class="spacer"></div>
                  <li class="showing
        
        
        evening
        show-3">
                    <span class="show-time">8p</span>
                    <span class="show-title">Little Shop</span>
                  </li>
                </ul>
              </div>
            </li>
            <li id="ember358" class="day day-6 saturday ember-view">
              <div class="day-wrapper">
                <div class="day-identifiers">
                  <span class="day-name">
                    <span class="full">Saturday</span>
                    <span class="short">Sat</span>
                  </span>
                  <div class="month-holder">
                    <span class="month-name jul">Jul</span>
                  </div>
                  <span class="mday">6</span>
                </div>
                <ul class="day-content show-count-2">
                  <!---->
                  <li class="showing
        
        matinee
        
        show-5">
                    <span class="show-time">2p</span>
                    <span class="show-title">Sister Act</span>
                  </li>
                  <!---->
                  <li class="showing
        
        
        evening
        show-3">
                    <span class="show-time">8p</span>
                    <span class="show-title">Little Shop</span>
                  </li>
                </ul>
              </div>
            </li>

          </ul><!-- week -->

          <ul class="week">

            <!---->
            <li id="ember364" class="day day-7 sunday ember-view">
              <div class="day-wrapper">
                <div class="day-identifiers">
                  <span class="day-name">
                    <span class="full">Sunday</span>
                    <span class="short">Sun</span>
                  </span>
                  <div class="month-holder">
                    <span class="month-name jul">Jul</span>
                  </div>
                  <span class="mday">7</span>
                </div>
                <ul class="day-content show-count-1">
                  <!---->
                  <li class="showing
        
        matinee
        
        show-3">
                    <span class="show-time">2p</span>
                    <span class="show-title">Little Shop</span>
                  </li>
                </ul>
              </div>
            </li>
            <li id="ember367" class="day dark day-8 monday ember-view">
              <div class="day-wrapper">
                <div class="day-identifiers">
                  <span class="day-name">
                    <span class="full">Monday</span>
                    <span class="short">Mon</span>
                  </span>
                  <div class="month-holder">
                    <span class="month-name jul">Jul</span>
                  </div>
                  <span class="mday">8</span>
                </div>
                <ul class="day-content show-count-0">
                  <!---->
                </ul>
              </div>
            </li>
            <li id="ember369" class="day day-9 tuesday ember-view">
              <div class="day-wrapper">
                <div class="day-identifiers">
                  <span class="day-name">
                    <span class="full">Tuesday</span>
                    <span class="short">Tue</span>
                  </span>
                  <div class="month-holder">
                    <span class="month-name jul">Jul</span>
                  </div>
                  <span class="mday">9</span>
                </div>
                <ul class="day-content show-count-1">
                  <div class="spacer"></div>
                  <li class="showing
        
        
        evening
        show-2">
                    <span class="show-time">8p</span>
                    <span class="show-title">Frog &amp; T</span>
                  </li>
                </ul>
              </div>
            </li>
            <li id="ember372" class="day day-10 wednesday ember-view">
              <div class="day-wrapper">
                <div class="day-identifiers">
                  <span class="day-name">
                    <span class="full">Wednesday</span>
                    <span class="short">Wed</span>
                  </span>
                  <div class="month-holder">
                    <span class="month-name jul">Jul</span>
                  </div>
                  <span class="mday">10</span>
                </div>
                <ul class="day-content show-count-2">
                  <!---->
                  <li class="showing
        
        matinee
        
        show-5">
                    <span class="show-time">2p</span>
                    <span class="show-title">Sister Act</span>
                  </li>
                  <!---->
                  <li class="showing
        
        
        evening
        show-4">
                    <span class="show-time">8p</span>
                    <span class="show-title">Music M</span>
                  </li>
                </ul>
              </div>
            </li>
            <li id="ember376" class="day day-11 thursday ember-view">
              <div class="day-wrapper">
                <div class="day-identifiers">
                  <span class="day-name">
                    <span class="full">Thursday</span>
                    <span class="short">Thu</span>
                  </span>
                  <div class="month-holder">
                    <span class="month-name jul">Jul</span>
                  </div>
                  <span class="mday">11</span>
                </div>
                <ul class="day-content show-count-2">
                  <!---->
                  <li class="showing
        
        matinee
        
        show-3">
                    <span class="show-time">2p</span>
                    <span class="show-title">Little Shop</span>
                  </li>
                  <!---->
                  <li class="showing
        
        
        evening
        show-1">
                    <span class="show-time">8p</span>
                    <span class="show-title">Mary</span>
                  </li>
                </ul>
              </div>
            </li>
            <li id="ember380" class="day day-12 friday ember-view">
              <div class="day-wrapper">
                <div class="day-identifiers">
                  <span class="day-name">
                    <span class="full">Friday</span>
                    <span class="short">Fri</span>
                  </span>
                  <div class="month-holder">
                    <span class="month-name jul">Jul</span>
                  </div>
                  <span class="mday">12</span>
                </div>
                <ul class="day-content show-count-2">
                  <!---->
                  <li class="showing
        
        matinee
        
        show-4">
                    <span class="show-time">2p</span>
                    <span class="show-title">Music M</span>
                  </li>
                  <!---->
                  <li class="showing
        
        
        evening
        show-5">
                    <span class="show-time">8p</span>
                    <span class="show-title">Sister Act</span>
                  </li>
                </ul>
              </div>
            </li>
            <li id="ember384" class="day day-13 saturday ember-view">
              <div class="day-wrapper">
                <div class="day-identifiers">
                  <span class="day-name">
                    <span class="full">Saturday</span>
                    <span class="short">Sat</span>
                  </span>
                  <div class="month-holder">
                    <span class="month-name jul">Jul</span>
                  </div>
                  <span class="mday">13</span>
                </div>
                <ul class="day-content show-count-3">
                  <!---->
                  <li class="showing
        morning
        
        
        show-2">
                    <span class="show-time">10a</span>
                    <span class="show-title">Frog &amp; T</span>
                  </li>
                  <!---->
                  <li class="showing
        
        matinee
        
        show-3">
                    <span class="show-time">2p</span>
                    <span class="show-title">Little Shop</span>
                  </li>
                  <!---->
                  <li class="showing
        
        
        evening
        show-1">
                    <span class="show-time">8p</span>
                    <span class="show-title">Mary</span>
                  </li>
                </ul>
              </div>
            </li>

          </ul><!-- week -->

          <ul class="week">

            <!---->
            <li id="ember391" class="day day-14 sunday ember-view">
              <div class="day-wrapper">
                <div class="day-identifiers">
                  <span class="day-name">
                    <span class="full">Sunday</span>
                    <span class="short">Sun</span>
                  </span>
                  <div class="month-holder">
                    <span class="month-name jul">Jul</span>
                  </div>
                  <span class="mday">14</span>
                </div>
                <ul class="day-content show-count-1">
                  <!---->
                  <li class="showing
        
        matinee
        
        show-4">
                    <span class="show-time">2p</span>
                    <span class="show-title">Music M</span>
                  </li>
                </ul>
              </div>
            </li>
            <li id="ember394" class="day dark day-15 monday ember-view">
              <div class="day-wrapper">
                <div class="day-identifiers">
                  <span class="day-name">
                    <span class="full">Monday</span>
                    <span class="short">Mon</span>
                  </span>
                  <div class="month-holder">
                    <span class="month-name jul">Jul</span>
                  </div>
                  <span class="mday">15</span>
                </div>
                <ul class="day-content show-count-0">
                  <!---->
                </ul>
              </div>
            </li>
            <li id="ember396" class="day day-16 tuesday ember-view">
              <div class="day-wrapper">
                <div class="day-identifiers">
                  <span class="day-name">
                    <span class="full">Tuesday</span>
                    <span class="short">Tue</span>
                  </span>
                  <div class="month-holder">
                    <span class="month-name jul">Jul</span>
                  </div>
                  <span class="mday">16</span>
                </div>
                <ul class="day-content show-count-1">
                  <div class="spacer"></div>
                  <li class="showing
        
        
        evening
        show-2">
                    <span class="show-time">8p</span>
                    <span class="show-title">Frog &amp; T</span>
                  </li>
                </ul>
              </div>
            </li>
            <li id="ember399" class="day day-17 wednesday ember-view">
              <div class="day-wrapper">
                <div class="day-identifiers">
                  <span class="day-name">
                    <span class="full">Wednesday</span>
                    <span class="short">Wed</span>
                  </span>
                  <div class="month-holder">
                    <span class="month-name jul">Jul</span>
                  </div>
                  <span class="mday">17</span>
                </div>
                <ul class="day-content show-count-2">
                  <!---->
                  <li class="showing
        
        matinee
        
        show-3">
                    <span class="show-time">2p</span>
                    <span class="show-title">Little Shop</span>
                  </li>
                  <!---->
                  <li class="showing
        
        
        evening
        show-1">
                    <span class="show-time">8p</span>
                    <span class="show-title">Mary</span>
                  </li>
                </ul>
              </div>
            </li>
            <li id="ember403" class="day day-18 thursday ember-view">
              <div class="day-wrapper">
                <div class="day-identifiers">
                  <span class="day-name">
                    <span class="full">Thursday</span>
                    <span class="short">Thu</span>
                  </span>
                  <div class="month-holder">
                    <span class="month-name jul">Jul</span>
                  </div>
                  <span class="mday">18</span>
                </div>
                <ul class="day-content show-count-2">
                  <!---->
                  <li class="showing
        
        matinee
        
        show-5">
                    <span class="show-time">2p</span>
                    <span class="show-title">Sister Act</span>
                  </li>
                  <!---->
                  <li class="showing
        
        
        evening
        show-4">
                    <span class="show-time">8p</span>
                    <span class="show-title">Music M</span>
                  </li>
                </ul>
              </div>
            </li>
            <li id="ember407" class="day day-19 friday ember-view">
              <div class="day-wrapper">
                <div class="day-identifiers">
                  <span class="day-name">
                    <span class="full">Friday</span>
                    <span class="short">Fri</span>
                  </span>
                  <div class="month-holder">
                    <span class="month-name jul">Jul</span>
                  </div>
                  <span class="mday">19</span>
                </div>
                <ul class="day-content show-count-2">
                  <!---->
                  <li class="showing
        
        matinee
        
        show-1">
                    <span class="show-time">2p</span>
                    <span class="show-title">Mary</span>
                  </li>
                  <!---->
                  <li class="showing
        
        
        evening
        show-5">
                    <span class="show-time">8p</span>
                    <span class="show-title">Sister Act</span>
                  </li>
                </ul>
              </div>
            </li>
            <li id="ember411" class="day day-20 saturday ember-view">
              <div class="day-wrapper">
                <div class="day-identifiers">
                  <span class="day-name">
                    <span class="full">Saturday</span>
                    <span class="short">Sat</span>
                  </span>
                  <div class="month-holder">
                    <span class="month-name jul">Jul</span>
                  </div>
                  <span class="mday">20</span>
                </div>
                <ul class="day-content show-count-3">
                  <!---->
                  <li class="showing
        morning
        
        
        show-2">
                    <span class="show-time">10a</span>
                    <span class="show-title">Frog &amp; T</span>
                  </li>
                  <!---->
                  <li class="showing
        
        matinee
        
        show-4">
                    <span class="show-time">2p</span>
                    <span class="show-title">Music M</span>
                  </li>
                  <!---->
                  <li class="showing
        
        
        evening
        show-3">
                    <span class="show-time">8p</span>
                    <span class="show-title">Little Shop</span>
                  </li>
                </ul>
              </div>
            </li>

          </ul><!-- week -->

          <ul class="week">

            <!---->
            <li id="ember418" class="day day-21 sunday ember-view">
              <div class="day-wrapper">
                <div class="day-identifiers">
                  <span class="day-name">
                    <span class="full">Sunday</span>
                    <span class="short">Sun</span>
                  </span>
                  <div class="month-holder">
                    <span class="month-name jul">Jul</span>
                  </div>
                  <span class="mday">21</span>
                </div>
                <ul class="day-content show-count-1">
                  <!---->
                  <li class="showing
        
        matinee
        
        show-1">
                    <span class="show-time">2p</span>
                    <span class="show-title">Mary</span>
                  </li>
                </ul>
              </div>
            </li>
            <li id="ember421" class="day dark day-22 monday ember-view">
              <div class="day-wrapper">
                <div class="day-identifiers">
                  <span class="day-name">
                    <span class="full">Monday</span>
                    <span class="short">Mon</span>
                  </span>
                  <div class="month-holder">
                    <span class="month-name jul">Jul</span>
                  </div>
                  <span class="mday">22</span>
                </div>
                <ul class="day-content show-count-0">
                  <!---->
                </ul>
              </div>
            </li>
            <li id="ember423" class="day day-23 tuesday ember-view">
              <div class="day-wrapper">
                <div class="day-identifiers">
                  <span class="day-name">
                    <span class="full">Tuesday</span>
                    <span class="short">Tue</span>
                  </span>
                  <div class="month-holder">
                    <span class="month-name jul">Jul</span>
                  </div>
                  <span class="mday">23</span>
                </div>
                <ul class="day-content show-count-1">
                  <div class="spacer"></div>
                  <li class="showing
        
        
        evening
        show-3">
                    <span class="show-time">8p</span>
                    <span class="show-title">Little Shop</span>
                  </li>
                </ul>
              </div>
            </li>
            <li id="ember426" class="day day-24 wednesday ember-view">
              <div class="day-wrapper">
                <div class="day-identifiers">
                  <span class="day-name">
                    <span class="full">Wednesday</span>
                    <span class="short">Wed</span>
                  </span>
                  <div class="month-holder">
                    <span class="month-name jul">Jul</span>
                  </div>
                  <span class="mday">24</span>
                </div>
                <ul class="day-content show-count-2">
                  <!---->
                  <li class="showing
        
        matinee
        
        show-1">
                    <span class="show-time">2p</span>
                    <span class="show-title">Mary</span>
                  </li>
                  <!---->
                  <li class="showing
        
        
        evening
        show-4">
                    <span class="show-time">8p</span>
                    <span class="show-title">Music M</span>
                  </li>
                </ul>
              </div>
            </li>
            <li id="ember430" class="day day-25 thursday ember-view">
              <div class="day-wrapper">
                <div class="day-identifiers">
                  <span class="day-name">
                    <span class="full">Thursday</span>
                    <span class="short">Thu</span>
                  </span>
                  <div class="month-holder">
                    <span class="month-name jul">Jul</span>
                  </div>
                  <span class="mday">25</span>
                </div>
                <ul class="day-content show-count-2">
                  <!---->
                  <li class="showing
        
        matinee
        
        show-5">
                    <span class="show-time">2p</span>
                    <span class="show-title">Sister Act</span>
                  </li>
                  <!---->
                  <li class="showing
        
        
        evening
        show-2">
                    <span class="show-time">8p</span>
                    <span class="show-title">Frog &amp; T</span>
                  </li>
                </ul>
              </div>
            </li>
            <li id="ember434" class="day day-26 friday ember-view">
              <div class="day-wrapper">
                <div class="day-identifiers">
                  <span class="day-name">
                    <span class="full">Friday</span>
                    <span class="short">Fri</span>
                  </span>
                  <div class="month-holder">
                    <span class="month-name jul">Jul</span>
                  </div>
                  <span class="mday">26</span>
                </div>
                <ul class="day-content show-count-2">
                  <!---->
                  <li class="showing
        
        matinee
        
        show-2">
                    <span class="show-time">2p</span>
                    <span class="show-title">Frog &amp; T</span>
                  </li>
                  <!---->
                  <li class="showing
        
        
        evening
        show-3">
                    <span class="show-time">8p</span>
                    <span class="show-title">Little Shop</span>
                  </li>
                </ul>
              </div>
            </li>
            <li id="ember438" class="day day-27 saturday ember-view">
              <div class="day-wrapper">
                <div class="day-identifiers">
                  <span class="day-name">
                    <span class="full">Saturday</span>
                    <span class="short">Sat</span>
                  </span>
                  <div class="month-holder">
                    <span class="month-name jul">Jul</span>
                  </div>
                  <span class="mday">27</span>
                </div>
                <ul class="day-content show-count-3">
                  <!---->
                  <li class="showing
        morning
        
        
        show-4">
                    <span class="show-time">10a</span>
                    <span class="show-title">Music M</span>
                  </li>
                  <!---->
                  <li class="showing
        
        matinee
        
        show-1">
                    <span class="show-time">2p</span>
                    <span class="show-title">Mary</span>
                  </li>
                  <!---->
                  <li class="showing
        
        
        evening
        show-5">
                    <span class="show-time">8p</span>
                    <span class="show-title">Sister Act</span>
                  </li>
                </ul>
              </div>
            </li>

          </ul><!-- week -->

          <ul class="week">

            <!---->
            <li id="ember445" class="day day-28 sunday ember-view">
              <div class="day-wrapper">
                <div class="day-identifiers">
                  <span class="day-name">
                    <span class="full">Sunday</span>
                    <span class="short">Sun</span>
                  </span>
                  <div class="month-holder">
                    <span class="month-name jul">Jul</span>
                  </div>
                  <span class="mday">28</span>
                </div>
                <ul class="day-content show-count-2">
                  <!---->
                  <li class="showing
        
        matinee
        
        show-5">
                    <span class="show-time">2p</span>
                    <span class="show-title">Sister Act</span>
                  </li>
                  <!---->
                  <li class="showing
        
        
        evening
        show-7">
                    <span class="show-time">8p</span>
                    <span class="show-title">Crawford</span>
                  </li>
                </ul>
              </div>
            </li>
            <li id="ember449" class="day dark day-29 monday ember-view">
              <div class="day-wrapper">
                <div class="day-identifiers">
                  <span class="day-name">
                    <span class="full">Monday</span>
                    <span class="short">Mon</span>
                  </span>
                  <div class="month-holder">
                    <span class="month-name jul">Jul</span>
                  </div>
                  <span class="mday">29</span>
                </div>
                <ul class="day-content show-count-0">
                  <!---->
                </ul>
              </div>
            </li>
            <li id="ember451" class="day day-30 tuesday ember-view">
              <div class="day-wrapper">
                <div class="day-identifiers">
                  <span class="day-name">
                    <span class="full">Tuesday</span>
                    <span class="short">Tue</span>
                  </span>
                  <div class="month-holder">
                    <span class="month-name jul">Jul</span>
                  </div>
                  <span class="mday">30</span>
                </div>
                <ul class="day-content show-count-1">
                  <div class="spacer"></div>
                  <li class="showing
        
        
        evening
        show-1">
                    <span class="show-time">8p</span>
                    <span class="show-title">Mary</span>
                  </li>
                </ul>
              </div>
            </li>
            <li id="ember454" class="day day-31 wednesday ember-view">
              <div class="day-wrapper">
                <div class="day-identifiers">
                  <span class="day-name">
                    <span class="full">Wednesday</span>
                    <span class="short">Wed</span>
                  </span>
                  <div class="month-holder">
                    <span class="month-name jul">Jul</span>
                  </div>
                  <span class="mday">31</span>
                </div>
                <ul class="day-content show-count-2">
                  <!---->
                  <li class="showing
        
        matinee
        
        show-2">
                    <span class="show-time">2p</span>
                    <span class="show-title">Frog &amp; T</span>
                  </li>
                  <!---->
                  <li class="showing
        
        
        evening
        show-4">
                    <span class="show-time">8p</span>
                    <span class="show-title">Music M</span>
                  </li>
                </ul>
              </div>
            </li>
            <li id="ember458" class="day day-1 thursday ember-view">
              <div class="day-wrapper">
                <div class="day-identifiers">
                  <span class="day-name">
                    <span class="full">Thursday</span>
                    <span class="short">Thu</span>
                  </span>
                  <div class="month-holder">
                    <span class="month-name aug">Aug</span>
                  </div>
                  <span class="mday">1</span>
                </div>
                <ul class="day-content show-count-2">
                  <!---->
                  <li class="showing
        
        matinee
        
        show-6">
                    <span class="show-time">2p</span>
                    <span class="show-title">TBA</span>
                  </li>
                  <!---->
                  <li class="showing
        
        
        evening
        show-5">
                    <span class="show-time">8p</span>
                    <span class="show-title">Sister Act</span>
                  </li>
                </ul>
              </div>
            </li>
            <li id="ember462" class="day day-2 friday ember-view">
              <div class="day-wrapper">
                <div class="day-identifiers">
                  <span class="day-name">
                    <span class="full">Friday</span>
                    <span class="short">Fri</span>
                  </span>
                  <div class="month-holder">
                    <span class="month-name aug">Aug</span>
                  </div>
                  <span class="mday">2</span>
                </div>
                <ul class="day-content show-count-2">
                  <!---->
                  <li class="showing
        
        matinee
        
        show-5">
                    <span class="show-time">2p</span>
                    <span class="show-title">Sister Act</span>
                  </li>
                  <!---->
                  <li class="showing
        
        
        evening
        show-4">
                    <span class="show-time">8p</span>
                    <span class="show-title">Music M</span>
                  </li>
                </ul>
              </div>
            </li>
            <li id="ember466" class="day day-3 saturday ember-view">
              <div class="day-wrapper">
                <div class="day-identifiers">
                  <span class="day-name">
                    <span class="full">Saturday</span>
                    <span class="short">Sat</span>
                  </span>
                  <div class="month-holder">
                    <span class="month-name aug">Aug</span>
                  </div>
                  <span class="mday">3</span>
                </div>
                <ul class="day-content show-count-3">
                  <!---->
                  <li class="showing
        morning
        
        
        show-2">
                    <span class="show-time">10a</span>
                    <span class="show-title">Frog &amp; T</span>
                  </li>
                  <!---->
                  <li class="showing
        
        matinee
        
        show-1">
                    <span class="show-time">2p</span>
                    <span class="show-title">Mary</span>
                  </li>
                  <!---->
                  <li class="showing
        
        
        evening
        show-3">
                    <span class="show-time">8p</span>
                    <span class="show-title">Little Shop</span>
                  </li>
                </ul>
              </div>
            </li>

          </ul><!-- week -->

          <ul class="week">

            <!---->
            <li id="ember473" class="day day-4 sunday ember-view">
              <div class="day-wrapper">
                <div class="day-identifiers">
                  <span class="day-name">
                    <span class="full">Sunday</span>
                    <span class="short">Sun</span>
                  </span>
                  <div class="month-holder">
                    <span class="month-name aug">Aug</span>
                  </div>
                  <span class="mday">4</span>
                </div>
                <ul class="day-content show-count-1">
                  <!---->
                  <li class="showing
        
        matinee
        
        show-4">
                    <span class="show-time">2p</span>
                    <span class="show-title">Music M</span>
                  </li>
                </ul>
              </div>
            </li>
            <li id="ember476" class="day dark day-5 monday ember-view">
              <div class="day-wrapper">
                <div class="day-identifiers">
                  <span class="day-name">
                    <span class="full">Monday</span>
                    <span class="short">Mon</span>
                  </span>
                  <div class="month-holder">
                    <span class="month-name aug">Aug</span>
                  </div>
                  <span class="mday">5</span>
                </div>
                <ul class="day-content show-count-0">
                  <!---->
                </ul>
              </div>
            </li>
            <li id="ember478" class="day day-6 tuesday ember-view">
              <div class="day-wrapper">
                <div class="day-identifiers">
                  <span class="day-name">
                    <span class="full">Tuesday</span>
                    <span class="short">Tue</span>
                  </span>
                  <div class="month-holder">
                    <span class="month-name aug">Aug</span>
                  </div>
                  <span class="mday">6</span>
                </div>
                <ul class="day-content show-count-1">
                  <div class="spacer"></div>
                  <li class="showing
        
        
        evening
        show-5">
                    <span class="show-time">8p</span>
                    <span class="show-title">Sister Act</span>
                  </li>
                </ul>
              </div>
            </li>
            <li id="ember481" class="day day-7 wednesday ember-view">
              <div class="day-wrapper">
                <div class="day-identifiers">
                  <span class="day-name">
                    <span class="full">Wednesday</span>
                    <span class="short">Wed</span>
                  </span>
                  <div class="month-holder">
                    <span class="month-name aug">Aug</span>
                  </div>
                  <span class="mday">7</span>
                </div>
                <ul class="day-content show-count-2">
                  <!---->
                  <li class="showing
        
        matinee
        
        show-1">
                    <span class="show-time">2p</span>
                    <span class="show-title">Mary</span>
                  </li>
                  <!---->
                  <li class="showing
        
        
        evening
        show-4">
                    <span class="show-time">8p</span>
                    <span class="show-title">Music M</span>
                  </li>
                </ul>
              </div>
            </li>
            <li id="ember485" class="day day-8 thursday ember-view">
              <div class="day-wrapper">
                <div class="day-identifiers">
                  <span class="day-name">
                    <span class="full">Thursday</span>
                    <span class="short">Thu</span>
                  </span>
                  <div class="month-holder">
                    <span class="month-name aug">Aug</span>
                  </div>
                  <span class="mday">8</span>
                </div>
                <ul class="day-content show-count-2">
                  <!---->
                  <li class="showing
        
        matinee
        
        show-6">
                    <span class="show-time">2p</span>
                    <span class="show-title">TBA</span>
                  </li>
                  <!---->
                  <li class="showing
        
        
        evening
        show-5">
                    <span class="show-time">8p</span>
                    <span class="show-title">Sister Act</span>
                  </li>
                </ul>
              </div>
            </li>
            <li id="ember489" class="day day-9 friday ember-view">
              <div class="day-wrapper">
                <div class="day-identifiers">
                  <span class="day-name">
                    <span class="full">Friday</span>
                    <span class="short">Fri</span>
                  </span>
                  <div class="month-holder">
                    <span class="month-name aug">Aug</span>
                  </div>
                  <span class="mday">9</span>
                </div>
                <ul class="day-content show-count-2">
                  <!---->
                  <li class="showing
        
        matinee
        
        show-3">
                    <span class="show-time">2p</span>
                    <span class="show-title">Little Shop</span>
                  </li>
                  <!---->
                  <li class="showing
        
        
        evening
        show-2">
                    <span class="show-time">8p</span>
                    <span class="show-title">Frog &amp; T</span>
                  </li>
                </ul>
              </div>
            </li>
            <li id="ember493" class="day day-10 saturday ember-view">
              <div class="day-wrapper">
                <div class="day-identifiers">
                  <span class="day-name">
                    <span class="full">Saturday</span>
                    <span class="short">Sat</span>
                  </span>
                  <div class="month-holder">
                    <span class="month-name aug">Aug</span>
                  </div>
                  <span class="mday">10</span>
                </div>
                <ul class="day-content show-count-3">
                  <!---->
                  <li class="showing
        morning
        
        
        show-1">
                    <span class="show-time">10a</span>
                    <span class="show-title">Mary</span>
                  </li>
                  <!---->
                  <li class="showing
        
        matinee
        
        show-4">
                    <span class="show-time">2p</span>
                    <span class="show-title">Music M</span>
                  </li>
                  <!---->
                  <li class="showing
        
        
        evening
        show-5">
                    <span class="show-time">8p</span>
                    <span class="show-title">Sister Act</span>
                  </li>
                </ul>
              </div>
            </li>

          </ul><!-- week -->

          <ul class="week">

            <!---->
            <li id="ember500" class="day day-11 sunday ember-view">
              <div class="day-wrapper">
                <div class="day-identifiers">
                  <span class="day-name">
                    <span class="full">Sunday</span>
                    <span class="short">Sun</span>
                  </span>
                  <div class="month-holder">
                    <span class="month-name aug">Aug</span>
                  </div>
                  <span class="mday">11</span>
                </div>
                <ul class="day-content show-count-1">
                  <!---->
                  <li class="showing
        
        matinee
        
        show-1">
                    <span class="show-time">2p</span>
                    <span class="show-title">Mary</span>
                  </li>
                </ul>
              </div>
            </li>
            <li id="ember503" class="day dark day-12 monday ember-view">
              <div class="day-wrapper">
                <div class="day-identifiers">
                  <span class="day-name">
                    <span class="full">Monday</span>
                    <span class="short">Mon</span>
                  </span>
                  <div class="month-holder">
                    <span class="month-name aug">Aug</span>
                  </div>
                  <span class="mday">12</span>
                </div>
                <ul class="day-content show-count-0">
                  <!---->
                </ul>
              </div>
            </li>
            <li id="ember505" class="day day-13 tuesday ember-view">
              <div class="day-wrapper">
                <div class="day-identifiers">
                  <span class="day-name">
                    <span class="full">Tuesday</span>
                    <span class="short">Tue</span>
                  </span>
                  <div class="month-holder">
                    <span class="month-name aug">Aug</span>
                  </div>
                  <span class="mday">13</span>
                </div>
                <ul class="day-content show-count-1">
                  <div class="spacer"></div>
                  <li class="showing
        
        
        evening
        show-2">
                    <span class="show-time">8p</span>
                    <span class="show-title">Frog &amp; T</span>
                  </li>
                </ul>
              </div>
            </li>
            <li id="ember508" class="day day-14 wednesday ember-view">
              <div class="day-wrapper">
                <div class="day-identifiers">
                  <span class="day-name">
                    <span class="full">Wednesday</span>
                    <span class="short">Wed</span>
                  </span>
                  <div class="month-holder">
                    <span class="month-name aug">Aug</span>
                  </div>
                  <span class="mday">14</span>
                </div>
                <ul class="day-content show-count-2">
                  <!---->
                  <li class="showing
        
        matinee
        
        show-3">
                    <span class="show-time">2p</span>
                    <span class="show-title">Little Shop</span>
                  </li>
                  <!---->
                  <li class="showing
        
        
        evening
        show-1">
                    <span class="show-time">8p</span>
                    <span class="show-title">Mary</span>
                  </li>
                </ul>
              </div>
            </li>
            <li id="ember512" class="day day-15 thursday ember-view">
              <div class="day-wrapper">
                <div class="day-identifiers">
                  <span class="day-name">
                    <span class="full">Thursday</span>
                    <span class="short">Thu</span>
                  </span>
                  <div class="month-holder">
                    <span class="month-name aug">Aug</span>
                  </div>
                  <span class="mday">15</span>
                </div>
                <ul class="day-content show-count-2">
                  <!---->
                  <li class="showing
        
        matinee
        
        show-6">
                    <span class="show-time">2p</span>
                    <span class="show-title">TBA</span>
                  </li>
                  <!---->
                  <li class="showing
        
        
        evening
        show-4">
                    <span class="show-time">8p</span>
                    <span class="show-title">Music M</span>
                  </li>
                </ul>
              </div>
            </li>
            <li id="ember516" class="day day-16 friday ember-view">
              <div class="day-wrapper">
                <div class="day-identifiers">
                  <span class="day-name">
                    <span class="full">Friday</span>
                    <span class="short">Fri</span>
                  </span>
                  <div class="month-holder">
                    <span class="month-name aug">Aug</span>
                  </div>
                  <span class="mday">16</span>
                </div>
                <ul class="day-content show-count-2">
                  <!---->
                  <li class="showing
        
        matinee
        
        show-1">
                    <span class="show-time">2p</span>
                    <span class="show-title">Mary</span>
                  </li>
                  <!---->
                  <li class="showing
        
        
        evening
        show-5">
                    <span class="show-time">8p</span>
                    <span class="show-title">Sister Act</span>
                  </li>
                </ul>
              </div>
            </li>
            <li id="ember520" class="day day-17 saturday ember-view">
              <div class="day-wrapper">
                <div class="day-identifiers">
                  <span class="day-name">
                    <span class="full">Saturday</span>
                    <span class="short">Sat</span>
                  </span>
                  <div class="month-holder">
                    <span class="month-name aug">Aug</span>
                  </div>
                  <span class="mday">17</span>
                </div>
                <ul class="day-content show-count-2">
                  <!---->
                  <li class="showing
        
        matinee
        
        show-3">
                    <span class="show-time">2p</span>
                    <span class="show-title">Little Shop</span>
                  </li>
                  <!---->
                  <li class="showing
        
        
        evening
        show-4">
                    <span class="show-time">8p</span>
                    <span class="show-title">Music M</span>
                  </li>
                </ul>
              </div>
            </li>

          </ul><!-- week -->

          <ul class="week">

            <!---->
            <li id="ember526" class="day day-18 sunday ember-view">
              <div class="day-wrapper">
                <div class="day-identifiers">
                  <span class="day-name">
                    <span class="full">Sunday</span>
                    <span class="short">Sun</span>
                  </span>
                  <div class="month-holder">
                    <span class="month-name aug">Aug</span>
                  </div>
                  <span class="mday">18</span>
                </div>
                <ul class="day-content show-count-1">
                  <!---->
                  <li class="showing
        
        matinee
        
        show-5">
                    <span class="show-time">2p</span>
                    <span class="show-title">Sister Act</span>
                  </li>
                </ul>
              </div>
            </li>

          </ul><!-- week -->

        </div>
      </div>
    </div>
  </div>
</div>