<footer class="site-footer">
  
  <p class="description content-width">{{ site.description }}</p>

  <div class="final-thanks">

    <div class="sponsors">
      <div class="sponsor">
        <a href="http://www.nebraskaartscouncil.org"><img src="{{ site.baseurl }}/images/nac.png" alt="NE Arts Council Logo" /></a>
          <p>The Nebraska Arts Council, a state agency, has supported the programs of this organization through its matching grants program funded by the Nebraska Legislature, the National Endowment for the Arts and the Nebraska Cultural Endowment.  Visit <a href="http://www.nebraskaartscouncil.org">www.nebraskaartscouncil.org</a> for informationon how the Nebraska Arts Council can assist your organization, or how you can support the Nebraska Cultural Endowment, at <a href="http://www.nebraskaculturalendowment.org">www.nebraskaculturalendowment.org</a>.</p>
       </div>
       
      <div class="sponsor">
          <a href="http://www.csc.edu" title="Chadron State College"><img src="{{ site.baseurl }}/images/csc.png"></a>
          <p><a href="http://www.csc.edu" title="Chadron State College">Chadron State College</a>, located in Chadron, Nebraska, is a proud sponsor of the Post Playhouse. CSC routinely donates lighting equipment, sound equipment, and costumes to the theatre to help Post Playhouse bring you the very best looking and sounding shows you'll see in Western Nebraska.</p>
      </div>
          
      <div class="sponsor">
          <img src="{{ site.baseurl }}/images/ngpc.png">
          <p>Post Playhouse Incorporated produces its summer season at the theatre on Fort Robinson State Park. The fort is run by the Nebraska Game and Parks Commission</p>
      </div>     
    </div>  
  </div><!-- final thanks -->

  <div class="credits">
    This site is the result of a <a href="http://happycollision.com">Happy Collision</a>.
  </div>

</footer>
