<header class="site-header">

  <div class="pre-nav">

    <a class="site-title tickets-available" href="{{ site.baseurl }}/" title="Post Playhouse" rel="home">
      <img src="{{ site.baseurl }}/images/post-nameplate-colors.svg" alt="Post Playhouse Title Logo">
      <h1>{{ site.title }}</h1>
      <h2 class="site-description">Professional talent from across the country... <span style="white-space:nowrap">So close to home</span></h2>
    </a>

    <div class="get-tickets">
      <form id="get-tickets-form-link" action="https://postplayhousetickets.universitytickets.com/user_pages/event_listings.asp" method="link">
        <button class="online">Get Tickets Online</button>
      </form>

      <!-- Add event to the button's click handler -->
      <script type="text/javascript">
      $( '#get-tickets-form-link' ).on('submit.box_office', function(e) {
        e.preventDefault();
        fbq('track', 'LinkToBoxOffice');
        setTimeout(function () {
          document.location.href = "https://postplayhousetickets.universitytickets.com/user_pages/event_listings.asp";
        }, 500);
      });
      </script>


      <a href="{{ site.baseurl }}/ticket-info/">Ticket Information</a>
      <br />
      <span class="phone-number">{{ site.box_office_phone }}<span>
    </div>

  </div>

  <nav class="site-nav">
    <input type="checkbox" id="menu" style="display:none">
    <label for="menu">Navigation</label>
    {% include nav.html %}
  </nav>

</header>
