{% if page.share %}
<div class="sharing">
  <p>Share with your friends:</p>
  
  <a class="twitter-share-button"
    href="https://twitter.com/intent/tweet?via={{ site.twitter }}&text={{ page.title | cgi_escape }}&url={{ page.url | prepend: site.baseurl | prepend: site.url | cgi_escape }}" target="_blank" 
    data-count="none">
  Tweet
  </a>

  <div class="fb-share-button" data-href="{{ page.url | prepend: site.baseurl | prepend: site.url }}" data-layout="button"></div>
</div>


<script async>
window.twttr=(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],t=window.twttr||{};if(d.getElementById(id))return;js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);t._e=[];t.ready=function(f){t._e.push(f);};return t;}(document,"script","twitter-wjs"));
</script>

<div id="fb-root"></div>
<script async>
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=1579859928921762&version=v2.3";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>
{% endif %}