$ds-mult: 0.035
=drop-shadow($color)
  text-shadow: (1em * $ds-mult) (1em * $ds-mult) 0px $color, (1em * $ds-mult) (2em * $ds-mult) 0px $color

$cal-xs: 0px, 574px
$cal-small: 575px, 900px
$cal-medium: 901px
$cal-large: 91424px

$green: rgb(0,110,43)
$blue: rgb(28,117,188)
$red: rgb(198,41,46)
$pink: rgb(243,136,167)
$purple: rgb(146,39,143)
$yellow: rgb(224, 170, 54)
$brown: #56402c

$blue-shadow: darken($blue, 20)
$purple-shadow: darken($purple, 20)
$red-shadow: darken($red, 20)
$yellow-shadow: darken($yellow, 35)
$green-shadow: darken($green, 10)

$show-1-color: $blue
$show-2-color: $green
$show-3-color: $red
$show-4-color: $yellow
$show-5-color: $purple

$show-1-color-drop-shadow: $blue-shadow
$show-2-color-drop-shadow: $green-shadow
$show-3-color-drop-shadow: $red-shadow
$show-4-color-drop-shadow: $yellow-shadow
$show-5-color-drop-shadow: $purple-shadow

$font-body: proxima-nova, sans-serif
$font-condensed: proxima-nova-condensed
$font-extra-condensed: proxima-nova-extra-condensed
$font-title: azo-sans-uber, sans-serif

$calendar-day-date-color: black
$dark-day-bg: rgba(0,0,0,0.4)
$cal-bg-color: $subtle-bg-alt
$cal-border-color: black

$cal-border-width: 1px
$cal-base-font-size: 1.5rem // 24px
$cal-vert-button-pad: 0.29rem

$alt-bg-color: #d1dcc4

$filter-margins: 2px
$doc-width: 89rem // 1424px // 2136px becomes the height

$paperWidth: 8
$paperHeight: 12
$ratio: 100% * $paperHeight / $paperWidth

.calendar-component-wrapper
  font-family: $font-body
  background: $cal-bg-color
  font-size: $cal-base-font-size
  
  // reset
  ul
    padding: 0
    margin: 0
    list-style: none

.calendar-filters
  .filter
    +clearfix
    background-color: $alt-bg-color
    margin: $filter-margins
    border: 1px solid $alt-bg-color
    color: darken($alt-bg-color, 20)
    float: left
    font-family: $font-body
    font-size: $cal-base-font-size * 1.75
    padding: ($cal-base-font-size * 0.2) ($cal-base-font-size * 0.52)
    line-height: $cal-base-font-size * 2

    +breakpoint($cal-medium)
      font-size: $cal-base-font-size * 1.15
      padding: ($cal-base-font-size * 0.1) ($cal-base-font-size * 0.2)
      line-height: $cal-base-font-size * 1.5
    +breakpoint($cal-small)
      font-size: $cal-base-font-size * 0.75
      padding: ($cal-base-font-size * 0.05) ($cal-base-font-size * 0.1)
      line-height: $cal-base-font-size * 1
    +breakpoint($cal-xs)
      font-size: $cal-base-font-size * 0.55
      padding: ($cal-base-font-size * 0.025) ($cal-base-font-size * 0.05)
      line-height: $cal-base-font-size * .75

    &.selected
      color: white

    &.show-1
      border-color: lighten($show-1-color, 20)
      +drop-shadow($show-1-color-drop-shadow)
    &.show-2
      border-color: lighten($show-2-color, 20)
      +drop-shadow($show-2-color-drop-shadow)
    &.show-3
      border-color: lighten($show-3-color, 20)
      +drop-shadow($show-3-color-drop-shadow)
    &.show-4
      border-color: lighten($show-4-color, 20)
      +drop-shadow($show-4-color-drop-shadow)
    &.show-5
      border-color: lighten($show-5-color, 20)
      +drop-shadow($show-5-color-drop-shadow)

    &.show-6, &.show-7
      display: none

    &.show-1.selected
      background-color: $show-1-color
    &.show-2.selected
      background-color: $show-2-color
    &.show-3.selected
      background-color: $show-3-color
    &.show-4.selected
      background-color: $show-4-color
    &.show-5.selected
      background-color: $show-5-color

.is-editing .proportional-wrapper
  max-width: 100%
.proportional-wrapper
  max-width: $doc-width
  width: 100%

  +breakpoint($cal-large)
    .outer
      width: 100%
      padding-top: $ratio
      position: relative
      overflow: visible

    .inner
      position: absolute
      top: 0
      left: 0
      right: 0
      bottom: 0

.calendar
  font-family: $font-body
  padding: 1em
  overflow: hidden
  margin: auto
  // +breakpoint($cal-xs)
  //   max-width: nth($cal-xs, 1)
  // +breakpoint($cal-small)
  //   max-width: nth($cal-small, 1)
  // +breakpoint($cal-medium)
  //   max-width: nth($cal-medium, 1)

// borders
$cal-border-style: 0 solid $cal-border-color
.day.padding
  border: none !important
.day
  border: $cal-border-style
  border-left-width: $cal-border-width
  &:last-child
    border-right-width: $cal-border-width
.week
  border: $cal-border-style
  border-bottom-width: $cal-border-width
  &:first-child
    .day
      border-top-width: $cal-border-width
  &:last-child
    border: none
    .day
      position: relative
      border-bottom-width: $cal-border-width
      border-right-width: 0
      &:after
        content: ''
        border: $cal-border-style
        border-left-width: $cal-border-width
        position: absolute
        top: 0
        right: -#{$cal-border-width}
        bottom: -#{$cal-border-width}
+breakpoint($cal-large)
  .day
    border-left-width: $cal-border-width * 2
    &:last-child
      border-right-width: $cal-border-width * 2
  .week
    border-bottom-width: $cal-border-width * 2
    &:first-child .day
      border-top-width: $cal-border-width * 2
    &:last-child .day
      border-bottom-width: $cal-border-width * 2
      &:after
        border-left-width: $cal-border-width * 2
        right: -#{$cal-border-width * 2}
        bottom: -#{$cal-border-width * 2}


.week
  display: flex
  width: 100%
.day
  // display: table-cell
  flex-basis: 100% * 2 / 13
  &.monday
    flex-basis: 100% * 1 / 13
    .day-name .full
      display: none
    .day-name .short
      display: inline

.week:first-child .day:first-child
  padding: 0
  padding-bottom: $filter-margins
  flex-grow: 1

.day
  width: 14%
  padding: 0.75%
  background: white

  .month-holder
    position: relative

  .month-name
    display: none
    color: $calendar-day-date-color
    font-family: $font-title
    font-weight: bolder
    position: absolute
    background: transparent
    font-size: $cal-base-font-size * 2.5
    z-index: 2
    transform: rotate(-15deg)
    top: -0.8em
    +breakpoint($cal-medium)
      font-size: $cal-base-font-size * 1.75
    +breakpoint($cal-small)
      font-size: $cal-base-font-size * 1
    +breakpoint($cal-xs)
      font-size: $cal-base-font-size * .5
      top: -1em
      transform: rotate(0)

  &.day-1
    .month-name
      display: block

      &.jun
        // left: -2em
        // top: -0.8em
      &.jul
        // top: -0.3em
        // right: -3.5em
        display: none
      &.aug
        // top: -0.8em
        // left: -0.55em
  &.day-31 .may.month-name
    display: block
  &.day-2 .jul.month-name
    display: block


.day-name
  display: none
  .short
    display: none

.day.error
  background: red

.day.dark
  background: $dark-day-bg

  .mday, .day-name
    color: white

.day.padding
  background: transparent

.week:nth-child(2)
  .day .day-name
    display: inline
    font-family: $font-extra-condensed
    color: $calendar-day-date-color
  +breakpoint($cal-xs)
    & .monday .short
      display: none
    & .full
      display: none
    & .short
      display: inline
  .day.dark .day-name
    color: white

.day-identifiers
  font-size: $cal-base-font-size * 1.3
  flex-basis: 1em
  display: flex
  justify-content: flex-end
  align-items: baseline
  > *
    flex-grow: 1
  +breakpoint($cal-medium)
    font-size: $cal-base-font-size * 1
  +breakpoint($cal-small)
    font-size: $cal-base-font-size * 0.75
  +breakpoint($cal-xs)
    font-size: $cal-base-font-size * 0.5


.mday
  font-family: $font-condensed
  font-weight: 300
  color: $calendar-day-date-color
  text-align: right
  margin-bottom: 6px
  line-height: 1

.day-wrapper
  display: flex
  flex-direction: column
  height: 100%

.day-content
  flex-grow: 1
  display: flex
  flex-direction: column

  .spacer
    flex-grow: 1
    flex-basis: 1.2em
    +breakpoint($cal-small)
      flex-basis: 0.75em
    +breakpoint($cal-xs)
      display: none

.showing
  font-size: $cal-base-font-size * 1.2
  font-weight: 300
  text-align: center
  background-color: grey
  color: white

  display: flex
  justify-content: space-between
  align-items: center
  +breakpoint($cal-medium)
    font-size: $cal-base-font-size * 0.75
  +breakpoint($cal-small)
    font-size: $cal-base-font-size * 0.5
  +breakpoint($cal-xs)
    font-size: $cal-base-font-size * 0.5
    border-radius: 999em
    margin-top: 1px
    justify-content: center

  +drop-shadow(black) // default (for Bald Mountain Rounders)
  &.show-1
    background-color: $show-1-color
    +drop-shadow($show-1-color-drop-shadow)
  &.show-2
    background-color: $show-2-color
    +drop-shadow($show-2-color-drop-shadow)
  &.show-3
    background-color: $show-3-color
    +drop-shadow($show-3-color-drop-shadow)
  &.show-4
    background-color: $show-4-color
    +drop-shadow($show-4-color-drop-shadow)
  &.show-5
    background-color: $show-5-color
    +drop-shadow($show-5-color-drop-shadow)


$base-height: 2.16em  
.show-count-1, .show-count-2
  .showing
    flex-basis: $base-height
    +breakpoint($cal-xs)
      flex-basis: 1em

.showing
  flex-basis: $base-height * 2 / 3
  +breakpoint($cal-xs)
    flex-basis: 1em

.show-time
  color: black
  margin-left: 2%
  text-shadow: none
  text-align: center
  background-color: white
  width: 1.5em
  border-radius: 10%
  padding: 0.1em 0
  line-height: 1
  +breakpoint($cal-small)
    font-weight: bold
    width: 1.75em
  +breakpoint($cal-xs)
    font-weight: bold
    color: white
    background-color: transparent

.show-title
  flex-grow: 1
  white-space: nowrap
  +breakpoint($cal-small)
    font-family: $font-condensed
  +breakpoint($cal-xs)
    display: none
