// Prevent horizontal scrolling with full width bars
html, body
  overflow-x: hidden

html
  box-sizing: border-box

*, *:before, *:after
  box-sizing: inherit

h2
  margin-top: $spacing-unit * 2

h2:first-child
  margin-top: 0

h3
  color: #999

h4
  border-bottom: 1px solid #ccc
  font-weight: bold

body
  padding: 0

  +breakpoint($large)
    font-size: 1.2em

blockquote
  padding-left: 1em
  border-left: 3px solid #ccc
  color: #888

.content-width
  padding-left: $body-padding
  padding-right: $body-padding
  max-width: 650px
  margin-left: auto
  margin-right: auto

  +breakpoint($large)
    max-width: 900px

.height-is-300
  height: 300px
  img
    max-width: 100%
    max-height: 100%
    height: inherit !important

.flex
  display: flex

.justify-space-around
  justify-content: space-around !important

.page-content
  @extend .content-width

// Header
header.site-header
  margin-bottom: 18px

  .pre-nav
    +clearfix

  img
    width: 100%
    max-width: 730px
    display: block
    margin: auto
  a, a:hover
    text-decoration: none
    color: $text-color

  .site-title
    +breakpoint($large)
      display: block
      float: left
      width: 70%

    h1
      display: block
      display: none
      color: #444
      text-align: center
      padding: 0.2em
      font-size: $base-font-size
      font-size: 2.6em
      font-weight: 100
      line-height: 1em

      +breakpoint($medium)
        color: #fff
        font-size: 4em
        position: absolute
        bottom: 0
        right: 0

      +breakpoint($large)
        font-size: 5em

  h2.site-description
    font-weight: 100
    font-size: 1.35em
    text-align: center
    display: none
    margin-top: 0
    margin-bottom: $spacing-unit / 2
    +breakpoint($medium)
      display: block

  .get-tickets
    font-weight: normal
    margin: auto
    margin-bottom: 2em
    text-align: center

    +breakpoint($large)
      float: left
      margin: auto
      margin-top: 5em

    form
      display: inline-block
      +breakpoint($large)
        display: block

    a
      color: $article-link
      text-decoration: underline

      &:hover
        color: $article-link-hover




// Main Nav

.site-nav ul
  dislay: flex

.js .site-nav ul
  display: none
  +breakpoint($medium)
    display: flex
.js .site-nav ul.unhide
  display: flex

.site-nav
  font-size: $base-font-size
  text-align: center
  font-size: 1.3em
  margin-bottom: $spacing-unit
  font-weight: 100

  label
    background-color: $subtle-bg
    display: block

  ul
    display: flex
    flex-wrap: wrap
    justify-content: center
    padding: 0
    margin: 0
    list-style: none
    background-color: $subtle-bg-alt
  li
    flex-basis: 100%

    a
      display: block
      padding: 8px
      background-color: $subtle-bg-alt

      &, &:link, &:hover, &:visited
        color: $text-color

      &:hover
        background-color: $subtle-bg

  +breakpoint($medium)
    label
      display: none
    li
      flex-basis: 50%

  +breakpoint($large)
    li
      flex-basis: auto

      a
        width: 10em !important
        display: inline-block !important

// Articles

.sharing
  .fb-share-button
    top: -3px
    +breakpoint($large)
      top: -6px

article
  margin: $spacing-unit auto

  & > h2
    text-align: center

.post-link
  text-decoration: none
  color: $text-color

  &.outgoing
    text-decoration: underline

.post-meta
  display: inline
  margin-right: 2em
  color: lighten($main-text, 70)

// Image Display
img
  max-width: 100%
.picture
  margin-bottom: $spacing-unit

  img
    display: block
    margin: auto
  .caption
    text-align: center

// misc

.call-out
  background-color: $subtle-bg
  padding: 18px
  margin-bottom: $spacing-unit

  & > :last-child
    margin-bottom: 0

+breakpoint($large)
  .featured-pictures
    display: flex
    flex-wrap: wrap
    justify-content: space-between

    .picture
      flex-basis: 48%
      margin-left: 1%
      margin-right: 1%
      flex-basis: calc(50% - 6px)
      margin-left: calc(0px)
      margin-right: calc(0px)

.audition-notice
  background-color: $subtle-bg
  padding: 18px
  margin: $spacing-unit auto

  h4
    font-weight: bold
    margin-bottom: 0
    font-size: 1.3em
