---
layout: post
title:  "Annual Raffle"
excerpt: "Join us on March 12, 2016 for our annual raffle. You could win $5,000!"
---

{% comment %}
Original markup .sass found in the 2015 version of this document.
The css below was altered here, not rendered elsewhere.
{% endcomment %}

<link rel="stylesheet" href="{{ "/css/raffle2016.css" | prepend: site.baseurl }}?v={{ site.css_version }}">

<div class="full lucky2016">
  <h3>Get Lucky</h3>
  <img src="{{ site.baseurl }}/images/perennials/shamrock.svg" class="shamrock">
  <h4>with the Post Playhouse Board of Directors!</h4>

  <p class="clear raffle-description">Join us for the Post Playhouse Inc. Annual Raffle! There will be hors d'oeuvres, wine, and other fund-raising activities and games as well. Come prepared to have a good time!</p>
  <p class="pop">Saturday, March 12, 2016 <span class='no-break'>from 5:30-7pm</span></p>

  <p>
    Fort Robinson State Park<br>
    Buffalo Soldier's Barracks<br>
    <span class="info">Park Sticker Required</span>
  </p>

  <ul class="prizes">
    <li>1 winner: <span class="prize">$5,000</span></li>
    <li>5 winners: <span class="prize">$1,000</span></li>
    <li>2 winners: <span class="prize">$500</span></li>
    <li>20 winners: <span class="prize">$100</span></li>
  </ul>

  <div class="purchase-info">
    <h4>Only 300 Raffle Tickets Available!</h4>
    <p class="long">
      Get yours from a <a href="{{ site.baseurl }}/who/2016/#board">Post Playhouse Board Member</a> or by contacting the Crawford Clipper:
      <span style="padding-left: 2em; display: block">
        email: <a href="mailto:crawfordclipper@gmail.com">crawfordclipper@gmail.com</a><br>
        phone: 308-665-2310
      </span>
    </p>
  </div>

  <p class="long group"><img src="{{ site.baseurl }}/images/perennials/homestead.png" class="homestead">Raffle tickets are priced at $100 each. The purchase of a raffle ticket allows you and a guest to join us at the fund-raiser.</p>

</div>
