---
layout: post
title: Our 2018 Season
image: /images/2018/2018-season.jpg
featured: false
---

<img src="{{ site.baseurl }}/images/2018/2018-season.jpg" alt="">
<p>
  <form style="text-align:center" action="https://postplayhousetickets.universitytickets.com/user_pages/event_listings.asp" method="link">
    <button class="online">Get Tickets Now!</button><br>
  </form>

  <div class="featured-pictures">
    <div class="picture height-is-300">
      <img data-switch-image
        data-switch-image-list="
          Broadway.jpg,
          Dorothy.jpg,
          IMG_0144.JPG,
          IMG_0651.JPG,
          IMG_0909.JPG,
          IMG_1580.jpg,
          IMG_8599.JPG,
          IMG_9859.JPG,
          Mr Marsh.jpg,
          Train.jpg,
          Dames.jpg,
          Dorothy2.jpg,
          IMG_0429.JPG,
          IMG_0657.JPG,
          IMG_0966.JPG,
          IMG_1673.jpg,
          IMG_8938.JPG,
          IMG_9913.JPG,
          Off.jpg,
          Dames2.jpg,
          Hired.jpg,
          IMG_0504.JPG,
          IMG_0683.JPG,
          IMG_1515.jpg,
          IMG_8400.JPG,
          IMG_9140.JPG,
          IMG_9981.JPG,
          Opening.jpg,
        "
        src="{{site.baseurl}}/images/2018/slideshow/42nd/Broadway.jpg" alt="rotating image from 42nd Street"/>
      <div class="caption">Images from 42nd Street</div>
    </div>
    <div class="picture height-is-300">
      <img data-switch-image
        data-switch-image-list="
          IMG_0609.JPG,
          IMG_0800.JPG,
          IMG_1034.JPG,
          IMG_1399.JPG,
          IMG_2387.JPG,
          IMG_2401.JPG,
          IMG_2508.JPG,
          IMG_2705.JPG,
          IMG_3366.JPG,
          IMG_3558.JPG,
          IMG_4087.JPG,
          IMG_0626.JPG,
          IMG_0823.JPG,
          IMG_1068.JPG,
          IMG_1963.JPG,
          IMG_2388.JPG,
          IMG_2402.JPG,
          IMG_2579.JPG,
          IMG_3333.JPG,
          IMG_3369.JPG,
          IMG_3744.JPG,
          IMG_0630.JPG,
          IMG_0999.JPG,
          IMG_1095.JPG,
          IMG_2381.JPG,
          IMG_2393.JPG,
          IMG_2417.JPG,
          IMG_2663.JPG,
          IMG_3361.JPG,
          IMG_3411.JPG,
          IMG_3822.JPG,
        "
        src="{{site.baseurl}}/images/2018/slideshow/Chitty/IMG_0609.JPG" alt="rotating image from 42nd Street"/>
      <div class="caption">Images from Chitty Chitty Bang Bang</div>
    </div>
    <div class="picture height-is-300">
      <img data-switch-image
        data-switch-image-list="
          Footloose2.jpg,
          IMG_0089.JPG,
          IMG_6510.JPG,
          IMG_7529.JPG,
          IMG_8336.JPG,
          IMG_9327.JPG,
          FootlooseBike.jpg,
          IMG_0100.JPG,
          IMG_6535.JPG,
          IMG_7540.JPG,
          IMG_8370.JPG,
          IMG_9493.JPG,
          FootlooseBridge.jpg,
          IMG_0299.JPG,
          IMG_6580.JPG,
          IMG_7818.JPG,
          IMG_8372.JPG,
          IMG_9501.JPG,
          FootlooseChicago.JPG,
          IMG_6213.JPG,
          IMG_6592.JPG,
          IMG_7964.JPG,
          IMG_8373.JPG,
          IMG_9512.JPG,
          FootlooseGas2.jpg,
          IMG_6214.JPG,
          IMG_6610.JPG,
          IMG_7966.JPG,
          IMG_8394.JPG,
          IMG_9517.JPG,
          Fotloose1.jpg,
          IMG_6318.JPG,
          IMG_7393.JPG,
          IMG_8038.JPG,
          IMG_8395.JPG,
          IMG_9543.JPG,
          IMG_0023.JPG,
          IMG_6326.JPG,
          IMG_7447.JPG,
          IMG_8106.JPG,
          IMG_8397.JPG,
          IMG_9603.JPG,
          IMG_0082.JPG,
          IMG_6328.JPG,
          IMG_7528.JPG,
          IMG_8198.JPG,
          IMG_8794.JPG,
        "
    src="{{site.baseurl}}/images/2018/slideshow/Footloose/Footloose2.jpg" alt="rotating image from 42nd Street"/>
      <div class="caption">Images from Footloose</div>
    </div>
    <div class="picture height-is-300">
      <img data-switch-image
        data-switch-image-list="
          IMG_2155.JPG,
          IMG_2482.JPG,
          IMG_2663.JPG,
          IMG_2998.JPG,
          IMG_3293.JPG,
          IMG_3453.JPG,
          IMG_2433.JPG,
          IMG_2600.JPG,
          IMG_2972.JPG,
          IMG_3088.JPG,
          IMG_3321.JPG,
          IMG_6212.JPG,
        "
        src="{{site.baseurl}}/images/2018/slideshow/Mermaid/IMG_2155.JPG" alt="rotating image from 42nd Street"/>
      <div class="caption">Images from The Little Mermaid</div>
    </div>
    <div class="picture height-is-300">
      <img data-switch-image
        data-switch-image-list="
          Bobby.jpg,
          Catherine.jpg,
          End.jpg,
          FinaleI.jpg,
          Lockstock.jpg,
          Sky.jpg,
          video.jpg,
          BobbyHope.jpg,
          Cladwell.jpg,
          Finale.jpg,
          Hideout.jpg,
          Pee.jpg,
          TaylorChuckie.jpg,
        "
        src="{{site.baseurl}}/images/2018/slideshow/Urinetown/Bobby.jpg" alt="rotating image from 42nd Street"/>
      <div class="caption">Images from Urinetown</div>
    </div>
  </div>
</p>
