<!DOCTYPE html>
<html class="no-js">

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

    <script src="{{ "/js/foot.js" | prepend: site.baseurl }}"></script>

    {% if page.url == "/" %}
      <script>{% include mailer.js %}</script>
      <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[4]='ZIP';ftypes[4]='zip';fnames[3]='AQ';ftypes[3]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
      </script>
    
    {% endif %}


  </body>

</html>
