---
layout: default
---
<div class="post {{page.css_class}}">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    {% include sharing.html %}
  </header>

  <article class="post-content">
    {{ content }}
  </article>

</div>
