---
layout: default
---
<div class="post {{ page.css_class }}">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">published {{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>

    {% include sharing.html %}
  </header>

  <article class="post-content">
    {{ content }}
  </article>

</div>
